# Software Architect reviews everything by default
* @DanielGalindoDev

# Documentation files assigned to doc reviewer
/docs/ @RickSiphone
*.md @RickSiphone

# Source code files assigned to Development Team
/src/ @marcosboltor

# Test files (Global Integration & Modular Unit Tests) assigned to QA reviewer
/tests/ @SebastianHdzDev
/src/**/tests/ @SebastianHdzDev
